<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LogServ</servlet-name>
        <servlet-class>LogServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>labreg</servlet-name>
        <servlet-class>labreg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>patreg</servlet-name>
        <servlet-class>patreg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>docreg</servlet-name>
        <servlet-class>docreg</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogServ</servlet-name>
        <url-pattern>/LogServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>labreg</servlet-name>
        <url-pattern>/labreg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>patreg</servlet-name>
        <url-pattern>/patreg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>docreg</servlet-name>
        <url-pattern>/docreg</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
