<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="SampleProPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>model.Addressdetails</class>
    <class>model.Speciality</class>
    <class>model.Qualification</class>
    <class>model.State</class>
    <class>model.City</class>
    <class>model.Doctor</class>
    <class>model.Patient</class>
    <class>model.Login</class>
    <class>model.DoctorAppointment</class>
    <class>model.Lab</class>
    <class>model.LabAppointment</class>
    <class>model.Test</class>
    <class>model.Labtest</class>
    <class>model.PatienttestDetail</class>
    <class>model.Admin</class>
    <class>model.FactorOption</class>
    <class>model.FactorDetails</class>
    <class>model.PatientfactorAnswer</class>
    <class>model.AbsulateRiskMale</class>
    <class>model.AbsoluteRiskFemale</class>
    <class>model.Calculationmeteredata</class>
    <class>model.TestRecommend</class>
    <class>model.Blog</class>
    <class>model.Pastcardiac</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:sqlserver://localhost:1433;databaseName=cardiac"/>
      <property name="javax.persistence.jdbc.user" value="sa"/>
      <property name="javax.persistence.jdbc.driver" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
      <property name="javax.persistence.jdbc.password" value="icreate"/>
    </properties>
  </persistence-unit>
</persistence>
